html, body { height: 100%;}
.container {padding-top: 30px; padding-bottom: 30px;}
.subsection-title {color: rgb(85, 73, 173); font-weight: 700;}
.section-title, .subsection-title {text-transform: uppercase; font-family: 'Roboto mono', monospace;}
.left p {margin-top: 0px}
.photo div{width: 40%; margin-bottom: 20px; background: url(../malek.png) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;}
.photo>div:hover {background: url(../malek-alt.jpg) no-repeat center center fixed;}
.name h1, .name h4 {text-transform: uppercase; margin: 0px;}
.name h1 {font-weight: bold; font-size: 35px;}
.name h4 {font-weight: 600;}
#info, #skills p, .name p, .name h4, .name h1, .keywords {font-family: 'Fira Code', monospace;}
#info ul {list-style: none; padding: 0px;}
.highlights, .date, .location {font-family: 'Noto Sans', monospace;}

@media(max-width: 600px) {
    .name h1 {font-size: 20px;}
}
